[workspace]
resolver = "3"
members = [
    "slack-messaging",
    "slack-messaging-derive",
]

[patch.crates-io]
slack-messaging = { path = "slack-messaging" }

[workspace.dependencies]
once_cell = "1.21"
