name: Release derive lib

on:
  workflow_dispatch:

env:
  RUST_BACKTRACE: full

jobs:
  cargo-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Publish library
        run: cargo publish -p slack-messaging-derive --all-features --token ${{ secrets.CARGO_TOKEN }}
